.links {
    font-family:"Roboto", Arial, sans-serif;
    padding-top: 10px;
    font-size: 10.2pt;
}

a:link {
    color:#000000;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color:#000000;
}

.rt {
    float: right;
    display: flex;
}

.toprt {
    font-family:"Roboto", Arial, sans-serif;
    font-size: 9.6pt;
}

.apps {
    border:none;  
    margin: -7px 10px 0px 10px; 
    border-radius: 25px;
    height: 35px;
    width: 35px;
    background-color: #ffffff;
}

.apps:hover {
    background-color: #f2f2f2;
    
}

.dots {
    height: 23px;
    margin-top: -12px;
    margin-left: -18px;
    position: absolute;
    opacity: 60%;
}

.dots2 {
    height: 23px;
    margin-top: -12px;
    margin-left: -12px;
    position: absolute;
    opacity: 60%;
}

.dots3 {
    height: 23px;
    margin-top: -12px;
    margin-left: -6px;
    position: absolute;
    opacity: 60%;
}

.avatar {
    height: 34px;
    margin: -7px 4px 0px 0px; 
    border-radius: 25px;
    transition: all .1s ease-in-out;
}

.avatar:hover {
    height: 40px;
    margin: -8px 10px 0px 10px; 
    border-radius: 25px;
    transition: transform .2s ease-in-out;
    transform: scale(1.2) scaleX(-1);
}

.logo {
    padding-top:230px;
}

.search {
    display: flex;
    -webkit-appearance: none;
    height: 45px;
    width: 600px;
    border: 1px solid #dfe1e5;
    margin: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right:40px;
    border-radius: 25px;
    background-image: url(./images/outline_search_black_24dp.png);
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position: 10px 12px; 
    opacity:40%;   
}

.search:hover {
    height: 46px;
    width: 601px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0 1px 5px rgba(33,33,33,.33));
}

.goog {
    -webkit-appearance: none;
    height: 38px;
    width: 140px;
    border: white;
    border-radius:3px;
    margin-right: 8px;
    font-family:"Roboto", Arial, sans-serif;
    font-size: 11pt;
    background-color: #f8f9fa;
}

.lucky {
    -webkit-appearance: none;
    height: 38px;
    width: 140px;
    border: white;
    border-radius:3px;
    font-family:"Roboto", Arial, sans-serif;
    font-size: 11pt;
    background-color: #f8f9fa;
}

#footer {
    display: flex;
    background-color:#f2f2f2;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    
}
