body {
    font-family:"Roboto", Arial, sans-serif;
}

@media only screen and (max-width: 800px) {
    .footlinks {
        display: flex;
        flex-wrap:wrap;
    }

}

.links {
    font-family: Arial, sans-serif;
    padding-top: 10px;
    font-size: 10.2pt;
    justify-content: space-between;
}

.toplt:link {
    color:#000000;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

.toplt:hover {
    text-decoration: underline;
}

.toplt:visited {
    color:#000000;
}

.rt {
    float: right;
    display: flex;
}

.toprt {
    font-size: 9.6pt;
}

.toprt:link {
    color:#000000;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

.apps {
    border:none;  
    margin: -7px 10px 0px 10px; 
    border-radius: 25px;
    height: 35px;
    width: 35px;
    background-color: #ffffff;
}

.apps:hover {
    background-color: #f2f2f2;
    
}

.dots {
    height: 23px;
    margin-top: -12px;
    margin-left: -18px;
    position: absolute;
    opacity: 60%;
}

.dots2 {
    height: 23px;
    margin-top: -12px;
    margin-left: -12px;
    position: absolute;
    opacity: 60%;
}

.dots3 {
    height: 23px;
    margin-top: -12px;
    margin-left: -6px;
    position: absolute;
    opacity: 60%;
}

.avatar {
    height: 34px;
    margin: -7px 4px 0px 0px; 
    border-radius: 25px;
    transition: all .1s ease-in-out;
}

.avatar:hover {
    height: 40px;
    margin: -8px 10px 0px 10px; 
    border-radius: 25px;
    transition: transform .2s ease-in-out;
    transform: scale(1.2) scaleX(-1);
}

.logo {
    padding-top:230px;
}

.search {
    display: flex;
    -webkit-appearance: none;
    height: 45px;
    width: 80%;
    max-width: 600px;
    border: 1px solid #a7a7a7;
    margin: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right:40px;
    border-radius: 25px;
    background-image: url(./images/outline_search_black_24dp.png);
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position: 10px 12px; 
    opacity:40%;   
}

.search:hover {
    height: 46px;
    width: 601px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0 1px 5px rgb(117, 117, 117));
}

.goog {
    -webkit-appearance: none;
    height: 38px;
    width: 140px;
    border: white;
    border-radius:3px;
    margin-right: 8px;
    font-family:"Roboto", Arial, sans-serif;
    font-size: 11pt;
    background-color: #f8f9fa;
}

.goog:hover {
    border: 1px solid #d6d6d6;
    filter: drop-shadow(0 1px 2px rgba(184, 184, 184, 0.33));
}

.lucky {
    -webkit-appearance: none;
    height: 38px;
    width: 140px;
    border: white;
    border-radius:3px;
    font-family:"Roboto", Arial, sans-serif;
    font-size: 11pt;
    background-color: #f8f9fa;
}

.lucky:hover {
    border: 1px solid #d6d6d6;
    filter: drop-shadow(0 1px 2px rgba(184, 184, 184, 0.33));
}

.footer {
    color:#a5a5a5;
    display: flex;
    background-color:#f2f2f2;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 33px;
    width: 100%;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 10.6pt;
    padding-top: 14px;
}

.carbon {
    display: flex;
    justify-content: space-between;
    margin-left: -150px;
}

.leaf {
    height:14px;
    
}

.footlt {
    padding-left:20px;
}

.footrt {
    padding-right: 20px;
}

.footlinks {
    padding-left:10px;
    padding-right: 10px;
}

.footlinks:link {
    color:#70757a;
    text-decoration: none;
}

.footlinks:visited {
    color:#70757a;
}


